@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

/*@font-face {
  font-family: bebas;
  src: url(BebasNeue-Regular.ttf);
}
font-family: 'Bebas', sans-serif; */


*{
	box-sizing: border-box;
}

body, html{
	height: 100%;
	width: 100%;
}

body{
	background-image: url(../img/playa_tenerife.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
}

#Ciudad{
	text-align: right;
	width: auto;
	font-family:'Patua One', cursive;
	font-size: 30px;
	margin-right: 10%;
	margin-left: 10%;
}

#Ciudad h1{
	margin-top: 10px;
	margin-bottom: 10px;
}

#Box{
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	background-color: rgba(255,255,255,0.7);
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 50px;
	top: 10%;
	right: 0%;
	left: 0%;
	text-align: center;
	padding-left: 30px;
	padding-top: 50px;
}

h2, h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	transform: translateX(-5%);
}

p{
	font-size: 20px;
	transform: translateX(-5%);
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
	color: red;

}
a:link {
  text-decoration: black;
}

