@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

*{
	box-sizing: border-box;
}

body, html{

	height: 100%;
	width: 100%;
  margin: 0;
}




header{
	text-align: center;


}

/* Header */

.logo{
		width: 375px;
		height:auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

/* Imagenes que rotan de las ciudades */

.grp-citys{
	background-color: red;
}

.city-box {
  background-color: transparent;
  width: 100%;
  height: 800px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  transition: 2s ease all;
  
}

.city-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.city-box:hover .city-box-inner {
  transform: rotateY(180deg);
}

.city-front, .city-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.city-back img, .city-front img{
  width: 500px;
}


.city-back {
  color: white;
  background-color: red;
  transform: rotateY(180deg);
}


.city1{
	text-align: center;
    width: 25%; 
    display: inline-block;
    float: left;
}

.city2{
	text-align: center;
    width: 25%; 
    display: inline-block;
    float: left;
}

.city3{
	text-align: center;
    width: 25%; 
    display: inline-block;
    float: left;
}

.city4{
	text-align: center;
    width: 25%; 
    display: inline-block;
    float: left;
}

.imgcity{
	width: 25%;
	height:auto;
}

.imgcity:hover{
	transform: rotateY(360deg);
	filter: grayscale(70%) blur(2px);
}

.city-back-text{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}


/* Eslogan */

.grp-eslogan{
	text-align: center;
  font-size: 30px;
  margin-top: 30px;
  font-family: Oswald;
}



/* Boton */

.boton {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  transition-duration: 0.7s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #667292;
  border-radius: 8px;
  align-content: center;
}

.boton:hover {
  background-color: #667292;
  color: white;
}

.grp-boton{
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px;
  margin-bottom: 100px

}